version: '3.4'

networks:
  frontend:
  backend:


services:
  webmvc:
    image: events/webmvc
    build:
      context: .\WebMvc
      dockerfile: Dockerfile
    environment:
      EventCatalogUrl: http://eventcatalog
      ASPNETCORE_ENVIRONMENT: Development
      IdentityUrl: http://172.19.96.1:8800
      CallBackUrl: http://localhost:5000
    ports:
      - "5000:80"
    container_name: eventsshop
    networks:
      - frontend
    depends_on:
      - eventcatalog
      - tokenserver

  eventcatalog:
    image: events/eventsapi
    build:
      context: .\EventsAPI
      dockerfile: Dockerfile
    environment:
      DatabaseServer: mssqlserver
      DatabaseName: EventsDb
      DatabaseUser: sa
      DatabasePassword: ProductApi(!)
      ExternalEventUrl: http://localhost:3000
    ports:
      - "3000:80"
    container_name: eventcatalogapi
    networks:
      - frontend
      - backend
    depends_on:
      - mssqlserver

  tokenserver:
    build:
      context: .\TokenServiceApi
      dockerfile: Dockerfile
    image: events/tokenapi
    environment:
      DatabaseServer: tokensqlserver
      DatabaseName: TokenServiceDb
      DatabaseUser: sa
      DatabasePassword: ProductApi(!)
      ASPNETCORE_ENVIRONMENT: Development
      MvcClient: http://localhost:5000
    ports:
      - "8800:80"
    container_name: eventstokenserviceapi
    networks:
      - backend
      - frontend
    depends_on:
      - tokensqlserver

  mssqlserver:
    image: "mcr.microsoft.com/mssql/server:latest"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ProductApi(!)
    ports:
      - "1248:1433"
    container_name: eventcatalogsqlserver
    networks:
      - backend

  
  tokensqlserver:
    image: "mcr.microsoft.com/mssql/server:latest"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ProductApi(!)
    ports:
      - "8000:1433"
    container_name: eventstokensqlserver
    networks:
      - backend